<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Training_Seller::Seller" sortOrder="10" title="Seller">
					<resource id="Training_Seller::Seller_save" sortOrder="10" title="Save Seller"/>
					<resource id="Training_Seller::Seller_delete" sortOrder="20" title="Delete Seller"/>
					<resource id="Training_Seller::Seller_update" sortOrder="30" title="Update Seller"/>
					<resource id="Training_Seller::Seller_view" sortOrder="40" title="View Seller"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
