<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Seller\Api\SellerRepositoryInterface" type="Training\Seller\Model\SellerRepository"/>
	<preference for="Training\Seller\Api\Data\SellerInterface" type="Training\Seller\Model\Data\Seller"/>
	<preference for="Training\Seller\Api\Data\SellerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="getCommand" xsi:type="object">Training\Seller\Console\Command\GetCommand</item>
<!--                <item name="CommandList" xsi:type="object">Magento\Config\Console\Command\ConfigShowCommand</item>-->
            </argument>
        </arguments>
    </type>
</config>
